* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__hero {
  width: 1200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  background-image: url("../assets/bg-1.png");
  background-size: cover;
  color: white;
}

.main__hero h1 {
  font-size: 48px;
}

.main__hero h2 {
  color: #ffffff;
  opacity: 70%;
  font-size: 24px;
}

.main__main {
  width: 1200px;
  height: 700px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main__main p {
  width: 983px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

.main__main h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 48px;
  color: #666666;
}

.main__main button {
  margin-top: 21px;
  background: #55c2d8;
  border-radius: 18px;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.main__main-h {
  width: 700px;
  color: #464547;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: -100px;
}

.learn__more {
  background-image: url("../assets/bg-2.png");
  text-align: center;
  margin-top: -100px;
  width: 1200px;
  height: 666px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learn__more h2 {
  margin-top: -120px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.learn__more button {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background: #39c2d7;
  border-radius: 100%;
  border: none;
}

.play__logo {
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.learn__more h3 {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #ffff;
}

footer {
  width: 1200px;
  height: 170px;
  background-color: #464547;
  color: white;
  padding: 20px 20px 20px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img {
  height: 20px;
  width: 20px;
}
.project {
  margin-top: 21px;
  margin-bottom: 15px;
}

.project p {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
}

.address {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff66;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: -300px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  font-size: 20px;
  margin-left: -400px;
}

header ul {
  display: flex;
  margin-left: 100px;
}

nav ul {
  list-style-type: none;
}

header nav ul li a {
  font-size: 14px;
  outline: none;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

[title] {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.main__text {
  display: flex;
  gap: 83px;
}

.main__text p {
  color: #666666;
  text-align: left;
  max-width: 550px;
}

.project {
  display: flex;
  align-items: center;
  margin-top: -30px;
}

.project img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.address {
  margin-left: -400px;
}

.address a {
  margin-top: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.copyrigth {
  margin-bottom: -30px;
}

.copyrigth p {
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
}
